.container {
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: column; /* Safari */
    flex-direction: column;
    -webkit-align-items: center; /* Safari */
    align-items: center;
    justify-content: center;
}
.cell {
    position: relative;
    top: 20%;
}     
#number {
    font-family: 'Oswald', sans-serif;
    border: none;
    width: 400px;
    max-height: 420px;
    text-align: center;
    font-size: 30vh;
}
#number.playerWon {
    font-size: 20vw;
    width: 100%;
    margin-top: 5%;
    color: #4CF016;
    -webkit-text-shadow: 6px 6px 0px rgba(127, 255, 0, 1);
    -moz-text-shadow:    6px 6px 0px rgba(127, 255, 0, 1);
    text-shadow:         6px 6px 0px rgba(127, 255, 0, 1);
    animation: bounce-in 0.5s;
}
#number:focus {
    outline: none;
}
::-webkit-input-placeholder {
    color: #4CF016;
    -webkit-text-shadow: 6px 6px 0px rgba(127, 255, 0, 1);
    -moz-text-shadow:    6px 6px 0px rgba(127, 255, 0, 1);
    text-shadow:         6px 6px 0px rgba(127, 255, 0, 1);
}

:-moz-placeholder { /* Firefox 18- */
    color: #4CF016;  
    -webkit-text-shadow: 6px 6px 0px rgba(127, 255, 0, 1);
    -moz-text-shadow:    6px 6px 0px rgba(127, 255, 0, 1);
    text-shadow:         6px 6px 0px rgba(127, 255, 0, 1);
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #4CF016;  
    -webkit-text-shadow: 6px 6px 0px rgba(127, 255, 0, 1);
    -moz-text-shadow:    6px 6px 0px rgba(127, 255, 0, 1);
    text-shadow:         6px 6px 0px rgba(127, 255, 0, 1);
}

:-ms-input-placeholder {  
    color: #4CF016;  
    -webkit-text-shadow: 6px 6px 0px rgba(127, 255, 0, 1);
    -moz-text-shadow:    6px 6px 0px rgba(127, 255, 0, 1);
    text-shadow:         6px 6px 0px rgba(127, 255, 0, 1);
}
#textfield {
    font-family: 'Droid Sans', sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 2vh;
}
#textfield.animate {
    animation-name: pulse;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: 1;   
}
button {
    font-family: 'Oswald', sans-serif;
    top:-15px;
    font-size: 7vh;
    border: 5px solid black;
    background-color: white;
    padding: 3px 20px 3px 20px;
    -webkit-box-shadow: 8px 8px 0px rgba(127, 255, 0, 1);
    -moz-box-shadow:    8px 8px 0px rgba(127, 255, 0, 1);
    box-shadow:         8px 8px 0px rgba(127, 255, 0, 1);
    cursor: pointer;
    transition:         0.08s ease-in;
    -o-transition:      0.08s ease-in;
    -ms-transition:     0.08s ease-in;
    -moz-transition:    0.08s ease-in;
    -webkit-transition: 0.08s ease-in;

}
button:hover {
    /* top left inset border + bottom right outset border
    -webkit-box-shadow: 8px 8px 0px rgba(127, 255, 0, 1), inset 8px 8px 0px 0px rgba(127, 255, 0, 1);
    -moz-box-shadow:    8px 8px 0px rgba(127, 255, 0, 1), inset 8px 8px 0px 0px rgba(127, 255, 0, 1);
    box-shadow:         8px 8px 0px rgba(127, 255, 0, 1), inset 8px 8px 0px 0px rgba(127, 255, 0, 1);
    */
    color: #7FFF00;
}
button:focus{
    outline: none;
}
button:active {
    font-size: 7.5vh;
}
.cell-3 {   
    left: -100%;
}
.cell-3.slide {
    animation: slide-3 0.5s forwards;
}
.cell-4{
    right: -100%;
    top:-5px;
}
.cell-4.slide {
    animation: slide-4 0.5s forwards;
}
.cell-5{
    left: -100%;
    top:-10px;
}
.cell-5.slide {
    animation: slide-5 0.5s forwards;
}
.cell-6 {
    display: none;
}
.cell-6.display-on {
    display: block;
    margin-top: 8%;
    animation: bounce-in 0.5s;
}
/* button slide in animation */
@-moz-keyframes slide-3 {
    100% {left: 2%}
}
@-webkit-keyframes slide-3 {
    100% {left: 2%}
}
@keyframes slide-3 {
    100% {left: 2%}
}
@-moz-keyframes slide-4 {
    100% {right: 8%;}
}
@-webkit-keyframes slide-4 {
    100% {right: 8%;}
}
@keyframes slide-4 {
    100% {right: 8%;}
}
@keyframes slide-5 {
    100% {left: 2%;}
}
@-moz-keyframes slide-5 {
    100% {left: 2%;}
}
@-webkit-keyframes slide-5 {
    100% {left: 2%;}
}
/* textfield pulsing animation */
@-moz-keyframes pulse {
    0% {
        color: rgba(0, 0, 0, 1); 
        font-size: 2vh; 
    }
    25% {
        color: rgba(127, 255, 0, 1);
        font-size: 2.1vh;
    }
    50% {
        color: rgba(0, 0, 0, 1); 
        font-size: 2vh; 
    }
    75% {
        color: rgba(127, 255, 0, 1);
        font-size: 2.1vh;     
    }
    100% { 
        color: rgba(0, 0, 0, 1); 
        font-size: 2vh;  
    }
}
@-webkit-keyframes pulse {
    0% {
        color: rgba(0, 0, 0, 1); 
        font-size: 2vh; 
    }
    25% {
        color: rgba(127, 255, 0, 1);
        font-size: 2.1vh;
    }
    50% {
        color: rgba(0, 0, 0, 1); 
        font-size: 2vh; 
    }
    75% {
        color: rgba(127, 255, 0, 1);
        font-size: 2.1vh;     
    }
    100% { 
        color: rgba(0, 0, 0, 1); 
        font-size: 2vh;  
    }
}
@keyframes pulse {
    0% {
        color: rgba(0, 0, 0, 1); 
        font-size: 2vh; 
    }
    25% {
        color: rgba(127, 255, 0, 1);
        font-size: 2.1vh;
    }
    50% {
        color: rgba(0, 0, 0, 1); 
        font-size: 2vh; 
    }
    75% {
        color: rgba(127, 255, 0, 1);
        font-size: 2.1vh;     
    }
    100% { 
        color: rgba(0, 0, 0, 1); 
        font-size: 2vh;  
    }
}
/* Winning message bounce in animation */
@keyframes bounce-in {
    0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@-moz-keyframes bounce-in {
    0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes bounce-in {
    0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}